DmuFileUploader/Schemas/ContentTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2016 rel. 2 (x64) (http://www.altova.com) -->
<xs:schema targetNamespace="http://schemas.openxmlformats.org/package/2006/content-types" xmlns="http://schemas.openxmlformats.org/package/2006/content-types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Types">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Default"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Default">
		<xs:complexType>
			<xs:attribute name="Extension" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="xml"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ContentType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="application/octet-stream"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
