DmuFileUploader/Schemas/DataSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="entities">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="entity">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="fields">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="field">
                      <xs:complexType>
                        <xs:attribute name="displayname" type="xs:string" use="required" />
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="type" type="xs:string" use="required" />
                        <xs:attribute name="customfield" type="xs:boolean" use="optional" />
                        <xs:attribute name="lookupType" type="xs:string" use="optional" />
                        <xs:attribute name="primaryKey" type="xs:boolean" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="relationships">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="relationship">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="manyToMany" type="xs:boolean" use="required" />
                        <xs:attribute name="relatedEntityName" type="xs:string" use="required" />
                        <xs:attribute name="m2mTargetEntity" type="xs:string" use="required" />
                        <xs:attribute name="m2mTargetEntityPrimaryKey" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="displayname" type="xs:string" use="required" />
            <xs:attribute name="etc" type="xs:unsignedShort" use="required" />
            <xs:attribute name="primaryidfield" type="xs:string" use="required" />
            <xs:attribute name="primarynamefield" type="xs:string" use="required" />
            <xs:attribute name="disableplugins" type="xs:boolean" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>